
.content {
    width: 900px;
    margin: auto;
}

.notice {
    background: #eef4fa;
    padding: 8px 20px;
}

.table {
    width: 100%;
    margin: 30px 0;
}

.table th {
    color: #aaa;
    text-align: left;
    font-weight: normal;
}

.err {
    border: 1px solid red;
    margin: -1px;
    border-radius: 5px;
}